In [6]:

'''
Numeric (int,float,complexNumber)
Dictionary 
Boolean
Set

Sequence types
String
List
Tuple

'''

str1="Lecture 3"
str2='week 2'
print(str1[0:3]*2)


'''
Create list of even numbers form 1 to 10
'''

even=[]
for i in range(11):
    if(i%2==0):
        even.append(i)
        

even=[]
for i in range(0,11,2):
    even.append(i)
    
print(even)

LecLec
[0, 2, 4, 6, 8, 10]

In [7]:
list1=[1,2,3,4,1,2,3,4]
newList=[]

for item in list1:
    if item not in newList:
        newList.append(item)
        
print(newList)

[1, 2, 3, 4]

In [8]:
'''
Display days of week through tuple
Reverse the tuple
'''

def displayWeek():
    days=('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
    for day in days:
        print(day)
        
        
displayWeek()

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [18]:
days=('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
reversedDays=(days[::-1])
print(reversedDays)

('Sunday', 'Saturday', 'Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday')

In [21]:

info={
    'Abubakar':21,
    'Mughees':21,
    'Asad':23
}

for std in info:
    print('name = ',std,' Age = ',info[std])

name =  Abubakar  Age =  21
name =  Mughees  Age =  21
name =  Asad  Age =  23

In [ ]:
'''
Data Structure    Mutable   Order   Uniqueness
List                Yes      Yes       No
Tuple               No       Yes       No
Set                 Yes      No        Yes
Dictionary          Yes      No        Yes(for keys)


Lists are good choice for storing ordered data that need to be modified frequently.
Tuples are good choice for storing ordered data that does not need to be modified.
Set are good choice for storing unique data that need to be modified frequently.
Dictionary are good choice for storing data in key value pair.
'''

In [2]:
'''
number is even or not



'''


number=10

if number%2==0:
    print("Number is even")

else:
    print("number is not even")

Number is even

In [10]:
'''
find largest number from 3 numbers
'''

a=int(input("Enter numbers: "))
b=int(input("Enter numbers: "))
c=int(input("Enter numbers: "))

if (a>b and a>c):
    print(a,' is greatest')
elif (b>a and b>c):
    print(b,' is greatest')
else:
    print(c,' is greatest')

Enter numbers: 3
Enter numbers: 2
Enter numbers: 1
3  is greatest

In [13]:
print(range(10))
print(list(range(10)))
print(list(range(5,50,5)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 10, 15, 20, 25, 30, 35, 40, 45]

In [17]:
l1=[1,2,3]
ans=0
for i in l1:
    ans+=i**2
    
print(ans)

num=5;
for i in range(1,11):
    print(num,' x ',i ,' = ',num*i)

14
5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50

In [2]:
'''
Practice while and for loop
'''


help()

Welcome to Python 3.11's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.11/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> keywords

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [12]:
str='lecture 5'

for i in str:
    if i == 'u' or i=='e':
        continue
       
    print(i)
        

for i in str:
    if i == 'u' or i=='e':
        break
    print(i)

l
c
t
r

5
l

In [20]:
str1='welcome to lecture 5'
print(str1[5])
print(str1[1:5])
print(str1[2:10])
print(str1[::-1])
str1='welcome'
#del str1 
print(str1)

print('w' not in str1)

m
elco
lcome to
5 erutcel ot emoclew
welcome
False

In [24]:
'''Format'''
print('{} and {} are good friends'.format('ali','aslam'))
print('{0} and {1} are good friends'.format('ali','aslam'))
print('{1} and {0} are good friends'.format('ali','aslam'))

ali and aslam are good friends
aslam and ali are good friends

In [46]:
str1='wezzzzzz'
str2=str1.capitalize()
print(str2)

print(str2.center(20,'#'))
str3=' w w'
print('isalphanumeric ',str3.isalnum())
print('identifier ',str3.isidentifier())
print('islower ',str3.islower())
print('isupper ',str3.isupper())
print('isspace ',str3.isspace())

Wezzzzzz
######Wezzzzzz######
isalphanumeric  False
identifier  False
islower  True
isupper  False
isspace  False

In [53]:
str1='    example    '
str2='asjgbdhag'
print(str1.lstrip().rstrip(),str2)
print(str1.strip(),str2)

example asjgbdhag
example asjgbdhag

In [68]:
'''
Capitalize
Center
isalphanumeric
isidentifier
islower
isupper
isspace
lstrip
rstrip
format method


'''


l1=[1,2,3,4,5,6,1,2,3,4]
print(l1[1:4:2])

l1[2]=10
print(l1)
l1.remove(2)

print(l1)

l1.append(2)
print(l1)
l2=[]
for i in l1:
    if i not in l2:
        l2.append(i)
        
print('l2 ',l2)

[2, 4]
[1, 2, 10, 4, 5, 6, 1, 2, 3, 4]
[1, 10, 4, 5, 6, 1, 2, 3, 4]
[1, 10, 4, 5, 6, 1, 2, 3, 4, 2]
l2  [1, 10, 4, 5, 6, 2, 3]

In [72]:
'''
repitition
concatination
length
iteration


membership operation "in" "not in"
'''


t1=(1,2,3,4,5)
print(t1.count(2))
print(t1.index(3))
print(1 in t1)

1
2
True

In [80]:


set1={1,2,3,4,5}
set2={4,5,6,7,8,9}

print(set1|set2)
print(set1.union(set2))
print(set1&set2)
print(set1.intersection(set2))
print(set1 - set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5}
{4, 5}
{1, 2, 3}

In [17]:
compiler =['loop', 'agar', 'magar',  'asm',  'else', 'new', 'this', 'auto', 'enum', 'operator', 'throw', 'bool' , 'explicit', 'private', 'true', 'break', 'export', 'protected' , 'try',  'case', 'extern', 'public', 'typedef', 'catch',  'false', 'register', 'typeid', 'char', 'float', 'typename',
'class',  'for', 'return', 'union', 'const',  'friend', 'short', 'unsigned','goto', 'signed',  'using', 'continue', 'if', 'sizeof', 'virtual', 'default', 'inline',  'static', 'void', 'delete', 'int', 'volatile', 'do', 'long', 'struct',
'double',  'mutable',  'switch',  'while',  'namespace', 'for', 'do', 'round', 'iif']

compiler.sort()
#for i in compiler:
    #print(i)    
    
c=[]
for i in compiler:
    if i not in c:
        c.append(i)
for i in c:
    print(i)

agar
asm
auto
bool
break
case
catch
char
class
const
continue
default
delete
do
double
else
enum
explicit
export
extern
false
float
for
friend
goto
if
iif
inline
int
long
loop
magar
mutable
namespace
new
operator
private
protected
public
register
return
round
short
signed
sizeof
static
struct
switch
this
throw
true
try
typedef
typeid
typename
union
unsigned
using
virtual
void
volatile
while

In [28]:
dictionary={
    1:'one',
    2:'two',
    3:'three'
}

print(any(dictionary))
print(all(dictionary))

print(sorted(dictionary))
#dictionary.clear()
print(dictionary.pop(2))  # require one argument(argument is key)
print(dictionary.popitem())

True
True
[1, 2, 3]
two
(3, 'three')

In [29]:
'''
fuctions to be tested on dictionary
item()
get()
update()
keys()
copy()
index()
count()
values()
len()
minimum()
maximum()
'''

'\nfuctions to be tested on dictionary\nitem()\nget()\nupdate()\nkeys()\ncopy()\nindex()\ncount()\nvalues()\n'

In [37]:
a = int(input('Enter first number: '))
b = int(input('Enter second number: '))


def sum(a,b):
    return a+b

print(sum(a,b))

print(abs(-20)) # absolute of a value

SyntaxError: incomplete input (4036293463.py, line 15)

In [61]:
a=[1,2,3,4]
b=[0,1,2,3]
c=[True,1,3]
all(c) #returns false if a single value is false

print(bin(256))
print(eval('a[0]+2'))
pow(4,2)
help(reversed)
print(a)

0b100000000
3
Help on class reversed in module builtins:

class reversed(object)
 |  reversed(sequence, /)
 |
 |  Return a reverse iterator over the values of the given sequence.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __length_hint__(...)
 |      Private method returning an estimate of len(list(it)).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __setstate__(...)
 |      Set state information for unpickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

[1, 2, 3, 4]

In [90]:
'''
Each student record consist of their name, age,a list of subjects they are enrolled in and their exams score in these subjects

Step 1: Data initialization
Initialize the data for these students.

Step 2: Data Manipulation
a) Calculate and store the Average score for each student.
b) Find the student with highest Average score and print their name.
c) Update student 2's age to 18.
d) Add 'Geography' to student 3's list of subject and assign a score of 85.

Step 3: Data Preparation
a) Create a tuple for each student that contain their name, age and the subjects they are enrolled in.
b) Create a set that contain all unique subjects across all students.

'''

students = [
    ('Abubakar',[22],{'CC': 80,'IDS':40,'NM':70,'OBC':60}),
    ('Mughees',[21],{'CC': 80,'IDS':90,'NM':40,'OBC':90}),
    ('Asad',[23],{'CC': 80,'IDS':40,'NM':80,'OBC':40}),
    ('Ahmad',[21],{'CC': 80,'IDS':60,'NM':30,'AI':70})
]

students[1][1][0] = 18   # updating student 2's age to 18
print(students[1][1][0])

averageScores=[]

def caluclateAverageScore():
    for student in students:
        score=0
        for course in student[2]:
            score+=student[2][course]
        averageScores.append(score/len(student[2]))

caluclateAverageScore()
print(averageScores)

def highestAverageScore():
    for i in range(len(averageScores)):
        if max(averageScore) == averageScores[i]:
            return students[i][0]
        
print('Highest Average Score = ',highestAverageScore())


students[2][2]['Geography']=85  # Adding Geography with a score of 85 as a subject 
students[2][2]

18
[62.5, 75.0, 60.0, 60.0]
Highest Average Score =  Mughees

{'CC': 80, 'IDS': 40, 'NM': 80, 'OBC': 40, 'Geography': 85}

In [19]:
file_path= r'/home/syedabubakarali/Documents/Python/file'
with open(file_path,'r') as file:
    content=file.read()
    print(content)
    
    

    
file2=open(file_path,'a')
#file2.write("Writing through python\nWriting through python")

#file2.readline()
#file2.readlines()

file2.write('Appending through python')

Writing through python
Writing through pythonAppending through python

24

In [26]:
import os

#os.rename('file','file1.txt')
#os.remove('file1.txt')
'''
ckdir
mkdir
getworkingdirectory
'''

AttributeError: module 'os' has no attribute 'create'

In [40]:
class Student:
    name = 'Ali'
    age = 22
    rollno = 1

    def Fees(self):
        print(self.age * self.rollno)
    
std1 = Student()
std2 = Student()
std2.age = 18
print(std1.Fees(), std2.age)

22
None 18